.main-container {

    .functioning-container {
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 3em 1.2em;
  }
} 

.functioning-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
    
  .title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .funct-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    list-style: none;
    gap: 2em;
    padding: 0px 10px;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
            
      p {
        font-weight: 500;
        font-size: 13px;
        color: rgb(246, 246, 246);
        margin-right: -10px;
        z-index: 1;
        border-radius: 100%;
        padding: 5px 8px;
        background: rgb(147, 86, 220);
      }

      .funct-list-button {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        color: black;
        background-color: rgb(246, 246, 246);
        border-color: rgb(246, 246, 246);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px 0px;
        gap: 1.3em;
        border-radius: 20px;
        padding: 27px 40px 27px 27px;
        border-width: 1px;
        border-style: solid;

        .fa-solid {
          font-size: 20px;
          padding-bottom: 6px;
        }

        .fa-mobile-screen-button, .fa-list-ul {
          color: rgb(126, 126, 126);
        }
              
                
        .fa-store {
          color: rgb(147, 86, 220);
        }
      }
    }
  }  
}
