@media screen and (min-width: 1000px) {
    // version desktop header
    .main-container {
        
        .main-header {
        
            .logo{
               width: 10%;
            }
        }

        .top {
            
            h1 {
                font-size: 2.7em;
            }
        }

        .functioning-container {
            padding-bottom: 3.5em;
            padding-left: 0;
            padding-right: 0;
            justify-content: start;
            margin: auto;

            .funct-list {
                flex-direction: row;
            }
        }

        .restaurants {
            gap: 1.5em;
            padding: 3em 11em;

            .restaurants-cards {
                flex-flow: row wrap;
                justify-content: space-between;
                gap: 3em;

                .card-link {
                    width: 45%;
                    cursor: auto;

                    img {
                        height: 140px;
                    }

                    .card-titles {
                        padding: .7em .7em;
                    }

                    i  {
                       cursor: pointer; 
                    }
                }
            }
        }

        .main-footer {
            flex-direction: row-reverse;
            justify-content: end;
            align-items: end;
            padding: 1em ;
            height: 6em;
            gap: 3em;
            box-sizing: border-box;


            .footer-nav {
                flex-direction: row;
                justify-content: space-around;
                gap: 2em;

                .cta, .infos {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                }
            }
        }
    }
}