@mixin columnc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@mixin rcenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

