.main-container {
    .restaurants {
        display: flex;
        flex-direction: column;
        background-color: rgb(243, 243, 243);
        padding: 3.5em 1.2em;
        gap: 1em;
      }
}

.restaurants {

  .title {
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
  }
}
.restaurants-cards {
  display: flex;
    flex-direction: column;
    gap: 1.6em;

  .card-link {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .new-hut{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 1.5em;
      right: 1.5em;

      p {
        color: rgba(0, 135, 102, 1);
        background-color: rgb(153, 226, 208);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        width: 13%;
        height: 15px;
        font-size: 1em;
        position: absolute;
        z-index: 1;
        font-weight: 500;
        border: 1px solid rgb(153, 226, 208);
        padding: 10px 9px 14px 13px;
        border-radius: 2px;
      }
    }
  }
}

.restaurants-cards {
  .card {
    background-color: white;
    // filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px;
    width: 100%;

    img {
      height: 180px;
      border-radius: 20px 20px 0px 0px;
    }

    .card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    

      
      .card-titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25em;
        width: 85%;
        padding: 1em .7em;

        h3 {
          font-weight: 700;
        }

        h3, p {
          color: #000000;
          margin: 0;
        }

        p {
          text-wrap: wrap;
          display: flex;
          justify-content: center;
          text-align: center;
          font-weight: 300;
        }
      }
    }
  }
}