@import 'main-index';
@import 'logo';



.under-main-container, section.dishes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.dishes {
    background-color: #F6F6F6;
    padding: 4em 1.2em;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 50px;
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4em;

    .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h1 {
            font-family: 'Shrikhand', serif;
            font-weight: 400;
        }

        .card-heart {
            display: flex;
            padding-bottom: 1em;
            font-size: 1.7em;
            
            i{
                position: absolute;
                cursor: pointer;
            }
        
            .empty {
                color: #101010;
            }
            
            .full {
                opacity: 0;
                color: transparent;
                transition: transform 300ms 0s;
        
            &:active {
                opacity: 1;
                transform: scale(1.025);
                background-clip: text;
                background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            }
            }
        }
    }

}















@import 'menu-list';
@import 'cta-button';
@import 'footer';