@import 'layouts/main-index';
@import 'layouts/logo';

.under-main-container, section.dishes {
    width: 100%;
    display: flex;
    flex-direction: column;
}

section.dishes {
    background-color: #F6F6F6;
    padding: 2.5em 1.2em;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 45px;
    margin-top: -45px;
    justify-content: center;
    align-items: center;
    gap: 3em;
         
    .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;

        h1 {
            font-family: 'Shrikhand', serif;
            font-weight: 400;
            font-size: 2em;
            flex: 1;
        }

        .card-heart {
            display: flex;
            padding-bottom: 1em;
            font-size: 2.5em;
                    
            width: 1.5em;
            justify-content: center;
                    
            i{
                position: absolute;
                cursor: pointer;
            }
        
            .empty {
                color: #101010;
            }
            
            .full {
                opacity: 0;
                color: transparent;
                transition: transform 500ms;
        
            &:active {
                opacity: 1;
                transform: scale(1.025);
                background-clip: text;
                background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
            }
            }
        }
    }
}

@import 'layouts/menu-list';
@import 'layouts/cta-button';
@import 'partials/footer';
@import 'layouts/media-menu';
@import 'layouts/media';