@mixin columnc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@mixin rcenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// loader colors
@mixin bright {
  color: #592B25;
  text-shadow: 0 0 7px #592B25;
}
  
@mixin darker {
  color: whitesmoke;
  text-shadow: none;
}