@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h3 {
  font-weight: bold;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

menu {
  list-style: none;
}

body {
  margin: 0;
  width: 100%;
}

.main-container {
  width: 100%;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0.1em 0;
}
header .header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 4em;
}
header .homepage-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2em 0 1.2em 2em;
  position: absolute;
  left: 0;
  top: 0;
}
header .homepage-link .fa-arrow-left {
  width: 100%;
  font-size: 2em;
  color: rgb(53, 53, 53);
}
header .logo-link, header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .logo-link {
  background-color: white;
}
header .logo-link .logo {
  width: 10em;
}

.under-main-container, section.dishes {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section.dishes {
  background-color: #F6F6F6;
  padding: 2.5em 1.2em;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 45px;
  margin-top: -45px;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
section.dishes .title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}
section.dishes .title h1 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 2em;
  flex: 1;
}
section.dishes .title .card-heart {
  display: flex;
  padding-bottom: 1em;
  font-size: 2.5em;
  width: 1.5em;
  justify-content: center;
}
section.dishes .title .card-heart i {
  position: absolute;
  cursor: pointer;
}
section.dishes .title .card-heart .empty {
  color: #101010;
}
section.dishes .title .card-heart .full {
  opacity: 0;
  color: transparent;
  transition: transform 500ms 0s;
}
section.dishes .title .card-heart .full:active {
  opacity: 1;
  transform: scale(1.025);
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/* Animation definition */
@keyframes pulse {
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    z-index: 100;
    display: flex;
    opacity: 1;
  }
  100% {
    z-index: -1;
    display: none;
    opacity: 0;
  }
}
@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
  90% {
    color: whitesmoke;
    text-shadow: none;
  }
  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }
}
/*
modifié
*/
.dishes .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  max-width: 700px;
  padding: 2.5em 1.2em 0;
  box-sizing: border-box;
  gap: 3em;
}
.dishes .list, .dishes .menu {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1.2em;
}
.dishes .menu .title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.2em;
}
.dishes .menu .title-container p {
  font-weight: 300;
  font-size: 1.3em;
}
.dishes .menu .title-container .underline {
  background-color: #99E2D0;
  height: 3px;
  width: 3.3em;
}
.dishes .menu .list {
  max-width: 900px;
  margin: auto;
  width: 100%;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: reverse;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}
.dishes .menu .list1 {
  animation-delay: 0.5s;
}
.dishes .menu .list2 {
  animation-delay: 1s;
}
.dishes .menu .list3 {
  animation-delay: 1.5s;
}
.dishes .menu .menu-container {
  border-radius: 17px;
  background: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: row;
  z-index: 1;
}
.dishes .menu .menu-container:active .check-box {
  width: 6em;
}
.dishes .menu .menu-container .titles {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 1em 0 1em 1.5em;
  overflow: hidden;
  cursor: pointer;
}
.dishes .menu .menu-container .titles .main {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  overflow: hidden;
  white-space: nowrap;
}
.dishes .menu .menu-container .titles .main h2 {
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes .menu .menu-container .titles .main h3 {
  font-weight: 300;
  font-size: 1.3em;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes .menu .menu-container .titles .price {
  padding-right: 1em;
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}
.dishes .menu .menu-container .check-box {
  color: #ffffff;
  background-color: #99E2D0;
  border-radius: 0 17px 17px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0%;
  transition: all 1s;
  animation-delay: 1s;
}
.dishes .menu .menu-container .check-box i {
  font-size: 2em;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container .cta-button {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
  cursor: auto;
  border-radius: 35px;
  border-width: 0px;
  background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  padding: 22px 70px;
  transition: transform 400ms ease 300ms;
  cursor: pointer;
}
.button-container .cta-button:hover, .button-container .cta-button:active {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 10px 0px;
}

.main-container .main-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1.2em 0em;
  background-color: rgb(53, 53, 53);
  width: 100%;
}

.main-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.main-footer .title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em 1.2em 0em 1.2em;
}
.main-footer .title-container img {
  height: 1.5em;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  padding: 0em 1.2em 0em 1.2em;
  font-size: 1.2em;
}
.footer-nav .cta {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer-nav .cta a {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 500;
  gap: 1em;
}
.footer-nav .cta a .fa-utensils {
  font-size: 1em;
  display: flex;
  gap: 0.7em;
}
.footer-nav .cta a .fa-handshake-angle {
  font-size: 0.8em;
}
.footer-nav .infos {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.footer-nav .infos a {
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (min-width: 800px) {
  .header-nav .logo-link .logo {
    width: 100%;
  }
  .under-main-container {
    align-items: center;
  }
  .under-main-container .cover {
    height: 35em;
  }
  .under-main-container .dishes {
    max-width: 1200px;
  }
  .under-main-container .dishes .title {
    justify-content: center;
  }
  .under-main-container .dishes .title h1 {
    flex: initial;
  }
  .under-main-container .dishes .menu {
    max-width: 900px;
  }
}
@media screen and (min-width: 800px) {
  .main-container .main-header .home-link {
    padding: 20px 0 25px 0;
  }
  .main-container .main-header .home-link img {
    width: 11%;
  }
  .main-container .top h1 {
    font-size: 2.2em;
  }
  .main-container .functioning-container {
    padding-bottom: 3.5em;
    padding-left: 0;
    padding-right: 0;
    justify-content: start;
    margin: auto;
    max-width: 1000px;
  }
  .main-container .functioning-container .funct-list {
    flex-direction: row;
    padding: 0;
  }
  .main-container .functioning-container .funct-list .funct-list-button {
    font-size: 1.1em;
  }
  .main-container .restaurants {
    gap: 1.5em;
    align-items: center;
  }
  .main-container .restaurants .title {
    position: relative;
    right: 26em;
  }
  .main-container .restaurants .restaurants-cards {
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 3em;
    max-width: 1000px;
  }
  .main-container .restaurants .restaurants-cards .card-link {
    width: 45%;
  }
  .main-container .restaurants .restaurants-cards .card-link img {
    height: 150px;
  }
  .main-container .restaurants .restaurants-cards .card-link .card-titles {
    padding: 0.7em 0.7em;
  }
  .main-container .restaurants .restaurants-cards .card-link i {
    cursor: pointer;
  }
  .main-container .main-footer {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: end;
    padding: 1em;
    height: 6em;
    gap: 3em;
    box-sizing: border-box;
  }
  .main-container .main-footer .footer-nav {
    flex-direction: row;
    justify-content: space-around;
    gap: 3em;
  }
  .main-container .main-footer .footer-nav .cta, .main-container .main-footer .footer-nav .infos {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}/*# sourceMappingURL=menu.css.map */