// coeur-index-restaurants
.button-container {
    display: flex;
    justify-content: center;

    .cta-button {
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
        cursor: auto;
        border-radius: 35px;
        border-width: 0px;
        background: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
        padding: 22px 70px;
        transition: transform 400ms ease 300ms;

        &:hover {
            opacity: 85%;
            transform: scale(1.025);
            box-shadow: rgba(0, 0, 0, .7) 0px 4px 10px 0px;
        }

        &:active {
        transform: scale(1.1);
        }
    }
}