@import '../keyframes/keyframes';
@import '../details/variables';


/*
modifié
*/
.loader {
    position: fixed;
    inset: 0;
    background-color: #000000db;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    animation: loading 2.5s linear;

    .letter {
        color: #592B25;
        font-size: 2em;
        letter-spacing: 1em;
        animation: waiting 1.4s linear infinite;
        @for $i from 1 through $num-elem2 {
            &-#{$i} {
                animation-delay: $anim-delay2 * $i;
            }
        }
    }
}

@keyframes loading {
    0% {
        z-index: 100;
        display: flex;
        opacity: 1;
    }
    
    100% {
        z-index: -1;
        display: none;
        opacity: 0;
    }
}