header {
  width: 100%;
  padding: .1em 0;

  .header-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4em;
  }
    .homepage-link{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1.2em 0 1.2em 2em;
      position: absolute;
      left: 0;
      top: 0;
    
      .fa-arrow-left {
        width: 100%;
        font-size: 2em;
        color: rgba(53, 53, 53, 1);
      }
    }

    .logo-link, .logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    } 

    .logo-link {
      background-color: white;
      
      .logo {
        width: 10em;
      }
    }
}