@media screen and (min-width: 800px) {
    // version desktop header
    .main-container {
        
        .main-header {

            .home-link {
                padding: 20px 0 25px 0;
        
                img {
                   width: 11%;
                }
            }
        }

        .top {
            
            h1 {
                font-size: 2.2em;
            }
        }

        .functioning-container {
            padding-bottom: 3.5em;
            padding-left: 0;
            padding-right: 0;
            justify-content: start;
            margin: auto;
            max-width: 1000px;

            .funct-list {
                flex-direction: row;
                padding: 0;

                .funct-list-button{
                    font-size: 1.1em;
                }
            }
        }

        .restaurants {
            gap: 1.5em;
            align-items: center;

            .title {
                position: relative;
                right: 26em;
            }

            .restaurants-cards {
                flex-flow: row wrap;
                justify-content: space-around;
                gap: 3em;
                max-width: 1000px;

                .card-link {
                    width: 45%;

                    img {
                        height: 150px;
                    }

                    .card-titles {
                        padding: .7em .7em;
                    }

                    i  {
                       cursor: pointer; 
                    }
                }
            }
        }

        .main-footer {
            flex-direction: row-reverse;
            justify-content: end;
            align-items: end;
            padding: 1em ;
            height: 6em;
            gap: 3em;
            box-sizing: border-box;


            .footer-nav {
                flex-direction: row;
                justify-content: space-around;
                gap: 3em;

                .cta, .infos {
                    display: flex;
                    flex-direction: row;
                    gap: 1em;
                }
            }
        }
    }
}
