// ****************Menu****************
@media screen and (min-width: 800px) {
    .header-nav {
        .homelink {
            width: 60%;
        }
        .logo-link {
            width: 40%;
            padding: 1.2em 0 1.6em 0;
            justify-content: start;
            padding-right: 20em;
            
            .logo {
                width: 40%;
            }
        }
    }

    .under-main-container {
        align-items: center;

        .cover{
            height: 35em;
        }
    }

    .under-main-container .dishes {
        max-width: 1200px;

        .title {
            justify-content: center;

            h1{
                flex: initial;
            }
        }

        .menu {
            max-width: 900px;
        }

    }
}