// ****************Menu****************
@media screen and (min-width: 800px) {
    .header-nav {
        .logo-link {
            width: 25%;
            padding: 1.2em 0 1.6em 0;
        }
    }

    .under-main-container {
        align-items: center;
    }

    .under-main-container .dishes {
        max-width: 1200px;

        .title {
            justify-content: center;
        }

        .menu {
            max-width: 900px;

            .menu-container {
                &:hover .check-box {
                    width: 6em;
                } 
            }
        }

    }
}