@import '../keyframes/keyframes';
@import '../details/variables';
@import '../details/mixin';

.dishes {
    .container {
    @include columnc;
    align-items: center;
    max-width: 700px;
    padding: 2.5em 1.2em;
    box-sizing: border-box;
    gap: 3em;
}

.list, .menu {
    width: 100%;
    box-sizing: border-box;
    @include columnc;
    gap: 1.2em;
}


.menu {
    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: .2em;

        p  {
            font-weight: 300;
            font-size: 1.3em;
        }

        .underline {
            background-color: #99E2D0;
            height: 3px;
            width: 3.3em;
        }
    }

    .list{
        max-width: 900px;
        margin: auto;
        width: 100%;
         // pp animation
        animation-name: pulse;
        animation-duration: $anim-dur;
        animation-iteration-count: 1;
        animation-direction: reverse;
        animation-delay: 0s;
        animation-fill-mode: backwards;
        @for $i from 1 through $num-elem {
            &#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }

        .menu-container {
            border-radius: 17px;
            background: #FFFFFF;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
            display: flex;
            flex-direction: row;
            z-index: 1;
            
            &:active .check-box {
                width: 6em;
            } 
            
            .titles {
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;
                padding: 1.5em 0 1.5em 1.5em;
                overflow: hidden;
                cursor: pointer;
                
                .main {
                    display: flex;
                    flex-direction: column;
                    gap: .3em;

                    h2 {
                        width: 100%;
                        font-size: 1.5em;
                        font-weight: 500;
                    }

                    h3 {
                        font-weight: 300;
                        font-size: 1.3em;

                    }

                }

                .price {
                    padding-right: 1em;
                    font-size: 1.5em;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    z-index: 1;
                }
            }

            .check-box {
                color: #ffffff;
                background-color: #99E2D0;
                border-radius: 0 17px 17px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                width: 0%;
                transition: all 1s;
                animation-delay: 1s;

                i {
                    font-size: 1.5em;
                }
            }
        }
    }
}
