/* Animation definition */
@use '../details/mixin';

// menu apparition
@keyframes pulse {
  100% {
    opacity: 0;
  }
}

// loader letters
@keyframes waiting {
  0% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;
  }

  90% {
    color: whitesmoke;
    text-shadow: none;
  }

  100% {
    color: #592B25;
    text-shadow: 0 0 7px #592B25;

  }
} 

// loader container
@keyframes loading {
  0% {
      z-index: 100;
      display: flex;
      opacity: 1;
  }
  
  100% {
      z-index: -1;
      display: none;
      opacity: 0;
  }
}